// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/flatpickr/dist/themes/light.css";

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: $dark;
}

.main aside {
  display: flex;
  align-items: stretch;
}

aside {
  .btn-collapse {
    &:hover {
      color: $light;
    }
  }
  .sidebar {
    overflow-y: auto;
    padding-bottom: 2rem;
    padding-right: 0.1rem;
    height: 100%;
    min-height: 100%;
    width: 100%;

    header {
      padding: 1rem;
    }

    .nav-item {
      &:hover {
        background-color: $gray-900;
      }

      a {
        font-size: 1rem;
      }

      .active {
        font-weight: bold;
        text-decoration: underline;
        border-left: 3px solid $gray-500;
      }
    }
  }
}

.crud-container {
  padding-right: 0;
  margin-right: 0;

  .progress {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .crud-header {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
  }

  .limit-buttons .page-item:nth-child(2) .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

[data-reach-dialog-content] {
  padding: 0 !important;
  position: relative;
  pointer-events: none;
  max-width: 80%;
  background-color: transparent !important;
}

.table-container {
  overflow: auto;
  padding-top: 0 !important;
}

.flatpickr-wrapper {
  display: block !important;
}

svg.loading {
  animation: loading-spin 2s infinite linear;
  margin: 0.18rem 1rem;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.page-loader {
  margin: 30% auto !important;
  text-align: center;
}

.dbmanager-grid {
  tr {
    padding: 1rem 0;
    height: 4rem;
    &.long {
      position: relative;

      &:hover .action-buttons {
        position: absolute;
      }
    }
  }
  td {
    white-space: nowrap;
  }
}

.dbmanager-grid-header th {
  white-space: nowrap;
  .th-sort-by {
    .page-link {
      background: transparent;
      border: 0 none;
      margin-left: 20px;
      color: $light;
    }
  }
}

.btn-autocomplete,
.db-column-filter--menu {
  background-color: transparent;
  border: none;
  position: absolute !important;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  &.btn-sm {
    right: 36px;
    color: $gray-500;
  }
}

// select elements
.base-select {
  position: relative;
}

.base-select-menu {
  padding: 0;
  margin-top: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  transition: opacity 0.1s ease;
  border: none;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.base-select-menu.open {
  border-radius: 0 0 0.28571429rem 0.28571429rem;
  border-color: #96c8da;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  z-index: 10;
}

.base-select-menu-list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.base-select-menu-item {
  position: relative;
  cursor: pointer;
  display: block;
  height: auto;
  text-align: left;
  border-style: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  box-shadow: none;
  padding: 0.8rem 1.1rem;
  white-space: normal;
  word-wrap: normal;

  &:hover {
    color: transparentize($dark, 0.05);
    background: transparentize($dark, 0.97);
  }
}

.base-select-menu-item.active {
  color: transparentize($dark, 0.05);
  font-weight: 700;
  background: $gray-300;
  border-bottom: 1px solid $light;

  &:last-child {
    border-bottom: 1px solid $modal-content-border-color;
  }
}

// multi select
.multi-select-selection-item {
  background-color: $gray-300;
  display: flex;
  padding: 0 0 0 0.45rem;
  border-radius: 0.5rem;
  color: $dark;
  white-space: nowrap;
  flex: 1 1 content;
  justify-content: space-between;
  align-items: center;

  span {
    padding: 0rem 0.35rem;
    font-weight: 400;
  }

  button {
    color: $dark;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 0.75rem;

    &:hover {
      background-color: darken($gray-300, 10);
    }
  }
}

.multi-select-selection-addon {
  flex: 1 1 62px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  .multi-select-selection-count {
    background-color: $dark;
    color: $light;
    display: inline-block;
    padding: 0.375rem;
    border-radius: 0.2rem;
  }

  .multi-select-selection-ellipsis {
    color: $gray-500;
    padding-left: 0.2rem;
  }
}

.multi-select-selection-row {
  height: calc(2.25rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.1rem 0;

  .multi-select-selection-container {
    max-height: 3rem;
    overflow: hidden;
    padding: 0 0.2rem;
    flex: 1 1000 auto;
    align-items: center;

    .multi-select-selection-item {
      margin: 0 0.2rem;
    }

    .placeholder {
      padding-left: 0.5rem;
      margin: 0;
      color: $text-muted;
      font-size: 1.05rem;
    }
  }

  .multi-select-selection-buttons {
    flex: 1 1 62px;
  }
}

.multi-select-search-input {
  .form-control {
    padding-right: 2rem;
  }

  .search-icon {
    @extend .btn-autocomplete;
    cursor: default;
    margin: 0 map_get($spacers, 2);
    z-index: 5;
    color: $gray-400;
  }
}

.goto-page {
  input,
  button {
    height: auto;
    font-size: 0.9rem;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
  }

  input {
    width: 8rem;
    border-radius: 0;
    border-color: $gray-300;
    border-left: 0 none;
  }
}

.db-column-filter {
  .db-column-filter--filter[type="text"] {
    border-radius: 0.25rem !important;
  }

  .db-column-filter--menu > .btn {
    color: transparentize($dark, 0.75);

    &:hover {
      color: $dark;
    }
  }
}

.db-column-filter-operator {
  padding-left: 15px;
  padding-right: 15px;
}

.db-column-filter-clear.disabled,
.db-column-filter-enable.disabled,
.db-column-filter-disable.disabled,
.db-column-filter-operator.disabled {
  cursor: not-allowed;
  background: transparent !important;
  color: lighten($dark, 50%);

  label {
    cursor: not-allowed;
  }
}

.bool-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1.1rem;
  border: 1px solid $gray-400;

  div {
    cursor: pointer;
  }

  .bool-filter-on {
    color: $success;
  }

  .bool-filter-off {
    color: $danger;
  }

  .bool-filter-neutral {
    color: $gray-600;
  }

  .bool-filter-disabled {
    color: $gray-400;
    cursor: default;
  }
}

[data-reach-menu-item][data-selected] {
  background: transparentize($dark, 0.75) !important;
  color: $dark !important;
}

.crud-action-buttons {
  display: flex;
  align-items: center;

  .toggle-filters-button {
    color: $dark;

    svg {
      width: 30px;
      height: 30px;

      &.disabled {
        fill: transparentize($dark, 0.5);
      }
    }
  }
}
.resizer {
  z-index: 1000;
  background: $dark;
  cursor: col-resize;
}
